---
---

@import "{{ site.theme }}";

h1 { font-size: 24px; }
header { width: 220px; float: left; position: fixed; -webkit-font-smoothing: subpixel-antialiased; }
section { width: 570px; float: right; padding-bottom: 50px; }


